<div *ngIf="match" class="match" (click)="selected.emit(match)">
    <div class="match-team--A">
        <img width="30px" class="match-team-flag" [src]="match.teamA.teamFlag" loading="lazy">
        <span class="match-team-name">{{match.teamA.teamName}}</span>
    </div>
    <div class="match-info">
        <span class="match-info__1">{{ match.matchStartTime | date :'d MMMM, HH:mm' }}</span>
        <span class="match-info__2"><span *ngIf="match.displayMatchNo">Match {{match.matchNo}}, </span> Group {{match.group}}</span>
        <span class="match-info__3"><mat-icon>pin_drop</mat-icon>{{match.stadium}}</span>
    </div>
    <div class="match-team--B">
        <img width="30px" class="match-team-flag" [src]="match.teamB.teamFlag">
        <span class="match-team-name">{{match.teamB.teamName}}</span>
    </div>
    <div class="match-volatility">
        <span *ngIf="match.volatility === 'cold'" class="material-icons" style="color: #6fe9d5;">ac_unit</span>
        <span *ngIf="match.volatility === 'hot'" class="material-icons" style="color: rgb(248, 23, 23);">local_fire_department</span>
    </div>
    
</div>
