<article class="disclaimer-container">
    <section class ="disclaimer">
        <p>Welcome to <span class="highlight preview_company_name">pred2win.com</span>, managed by SYTM. Please read this section to get comfortable in using the website. </p>
        <br>
        <h2>Nature of Platform</h2>
        <div class="disclaimer-content">
            <p><span class="highlight preview_company_name">pred2win.com</span> is a prediction platform designed for sports enthusiasts who wish to enjoy games with added engagement, without involving monetary stakes. We do not promote or associate ourselves with gambling practices. Our aim is to foster a community of sports lovers who participate in predictions purely for enjoyment and engagement.</p>
            <p>However, depending on the platform's growth in the coming years, we may introduce a 'gambling' league alongside the current 'prediction' league. This will be subject to compliance with legal regulations in different countries.</p>
        </div>
        <h2>SYTM Coins</h2>
        <div class="disclaimer-content">
            <p>SYTM coins are virtual assets used exclusively on <span class="highlight preview_company_name">pred2win.com</span> for prediction activities. Currently, these coins do not have any monetary value or correlation with physical world currencies. Upon verification, members are credited with 1000 coins, which can be used to submit predictions on polls.</p>
            <p>These coins have no value outside <span class="highlight preview_company_name">pred2win.com</span> and cannot be used for any other activities on the site. In future phases, SYTM coins are intended to become a purchasable product of <span class="highlight preview_company_name">pred2win.com</span>. Members may need to buy coins through a payment gateway registered to <span class="highlight preview_company_name">SYTM</span>, and the coins may also be used to purchase merchandise from pred2win shop.</p>
        </div>
        <h2>Community Standards</h2>
        <div class="disclaimer-content">
            <p>Certain community standards are maintained to ensure a respectful environment. While we do not enforce fixed rules, we expect mutual respect among members. Heated debates are common among sports lovers, but excessive foul language and personal attacks will not be tolerated. Members who engage in such behavior will receive warnings from the Admin and may be dismissed from the SYTM community, with their accounts blacklisted.</p>
        </div>   
        <h2>Member Data Protection</h2>    
        <div class="disclaimer-content">
            <p>Personal Data: Members are not required to update personal information such as mobile numbers, email addresses, or location on <span class="highlight preview_company_name">pred2win.com</span>. However, SYTM requests members to provide a mobile number and email address for communication purposes. This information is not displayed on the site and also not provided to any member or 3rd party. SYTM is committed to protecting member data and ensuring confidentiality at all times.</p>
            <p>However, if any member joins Euro 2024 Predictions group in SYTM Whatsapp community, their mobile number will get displayed to other members in the group.</p>
        </div>  
        <h2>Beta Version Notice</h2>    
        <div class="disclaimer-content">
            <p><span class="highlight preview_company_name">pred2win.com</span> is currently in its beta version, and we acknowledge that the quality of service may not yet be optimal. Many operations remain manual, and we appreciate your understanding and patience during this phase. Members are encouraged to report any issues to the Admin through Forum to help us improve the platform.</p>
        </div>      
        <div class ="disclaimer-conclusion">
            <p>By participating on <span class="highlight preview_company_name">pred2win.com</span>, you agree to abide by these terms and conditions. We reserve the right to update this disclaimer as necessary to reflect changes in our services or policies. Please also check the Legal section for terms and conditions on using the website.

                Thank you for being a part of the SYTM community. Enjoy the games and may your predictions be accurate!</p>
        </div>    
    </section>
</article>