.disclaimer {
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: small;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    max-height: 100vh;
    overflow-y: auto;
    

    @media (max-width: 600px) {
        padding: 1rem;
    }

    & > h2 {
        font-size: medium;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h4 {
        color: #44025e;
        margin-bottom: 1rem;
    }

    &-content {
        margin-bottom: 10px;
    }

    &-conclusion {
        margin-top: 20px;
    }
}

.preview_company_name, .preview_website_name, .preview_website_url {
    font-weight: 700;
    color: #44025e;
}