<ng-container *ngIf="data">
    <div class="tournament-card">
        <img class="tournament-card-image" [src]="data.tournamentLogo" [alt]="data.tournamentName">
        <div class="tournament-card-details">
            <span>{{data.tournamentCategory}}</span>
            <span>{{data.tournamentName}}, {{data.tournamentYear}}</span>
            <div>
                <ng-container *ngFor="let country of data.tournamentLocation">
                    <span>{{country}} </span>
                </ng-container>
            </div>
        </div>
        <div class="tournament-card-actions">
            <span>Members</span>
            <span>{{data.tournamentMembers || 0}}</span>
            <button class="tournament-card-actions-btn" mat-fab extended 
                [color]="data.joined ? 'accent' : 'primary'"
                (click)="onClick()">
                {{ data.joined ? 'Predict' : 'Join'}}
            </button>
        </div>
        <div class="tournament-card-actions">
            <button mat-icon-button (click)="showLeaderboard.emit(data.tournamentId)" >
                <mat-icon>leaderboard</mat-icon>
            </button>
        </div>
    </div>
    
    
</ng-container>