<nav-top [links]="filters" [show]="true" (clicked)="onFilterSelect($event)"></nav-top>
<div class="tournaments">
    <section class="tournaments-list">
        <ng-container *ngIf="tournaments$ | async as tournaments">
            <ng-container *ngIf="tournaments.length; else emptyTpl">
                <app-tournament-list-card *ngFor="let tournament of tournaments" 
                    [data]="tournament" 
                    (join)="join($event)" 
                    (continue)="continue($event)">
                </app-tournament-list-card>
            </ng-container>
        </ng-container>
        <mat-spinner class="loader" color="accent" *ngIf="tournamenntProcessing$ | async"></mat-spinner>
    </section>
</div>

<ng-template #emptyTpl>
    <div class="empty-data">
        <img class="ball" src="assets/ball.png" alt="">
        <div class="ball-shadow"></div>
        <h1 class="empty-data-header">
            No data found here !
        </h1>
    </div>
</ng-template>