<nav-top [links]="filters" [show]="true" (clicked)="onFilterSelect($event)"></nav-top>
<div class="youtube-player-container" *ngIf="showTutorialVideo">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HYbUndvyci4?si=kR5euKPVXAM15bxn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <button mat-icon-button (click)="showTutorialVideo=false" matTooltip="Basic" aria-label="Close video player">
        <mat-icon color="accent">close</mat-icon>
      </button>
</div>
<div class="tournaments">
    <section class="tournaments-list">
        <ng-container *ngIf="tournaments$ | async as tournaments">
            <ng-container *ngIf="tournaments.length; else emptyTpl">
                <app-tournament-list-card *ngFor="let tournament of tournaments" 
                    [data]="tournament" 
                    (join)="join($event)" 
                    (continue)="continue($event)"
                    (showLeaderboard)="onShowLeaderboard($event)">
                </app-tournament-list-card>
            </ng-container>
        </ng-container>
        <mat-spinner class="loader" color="accent" *ngIf="tournamenntProcessing$ | async"></mat-spinner>
    </section>
    <router-outlet></router-outlet>
    <article class="welcome-info">
        <section class = welcome-info-video>
            <p>Watch this <a class="video-button" (click)="showTutorialVideo = true"><img class="youtube-icon" [src]="'assets/youtube.png'" alt="yt"></a> to get started!</p>
        </section>
        <section>
            <app-football-jump></app-football-jump>
        </section>
    </article>
</div>

<ng-template #emptyTpl>
    <div class="empty-data">
        <img class="ball" src="assets/ball.png" alt="">
        <div class="ball-shadow"></div>
        <h1 class="empty-data-header">
            No tournaments active !
        </h1>
    </div>
</ng-template>

