.tournaments {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #2c003e, #6a0dad);
    z-index: -1;

    &-list {
        height: 60vh;
        width: 70%;
        margin: auto;
        margin-top: 16vh;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }

        @media (max-width: 1024px) {
            width: 95%;
            margin-top: 10vh;
            height: 60vh;
        }

        @media screen and (max-height: 600px) {
            height: 50vh;
            margin-top: 16vh;
        }
    }
}

.youtube-player-container {
    display: flex;
    background-color: #a766f6bf;
    height: 100vh;
    justify-content: center;

    & > * {
        margin-top: 10%;
        z-index: 2;
        opacity: 1;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}

.video-button {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}


.youtube-icon {
    width: 30px;
}

.welcome-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2rem;
    margin: auto;
    background-color: white;
    color:#2c003e;
    line-height: 1.5;
    font-size: small;
    font-family: "Roboto", sans-serif;
    border-radius: 1rem;
    filter: drop-shadow(2px 4px 6px black);

    @media screen and (max-height: 600px) {
           width: 60%;

    }

    &-video{
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
    }

}
