<article *ngIf="__poll" class="poll">
    <div class="poll-grid"
    [ngClass]="{
        'matchOutcome': __poll.pollType === 'matchOutcome', 
        'bonus': __poll.pollType === 'bonus', 
        'tournament': __poll.pollType === 'tournament',
        'opinion': __poll.pollType === 'opinion'
      }">
<!--
         <div class="poll-info poll-info--left" *ngIf="__poll.status === 'active' && __poll.pollType !== 'tournament'">
            <span class="poll-info-time">{{__poll.pollEndTime| date: 'HH:mm' }}</span>
        </div>
-->    
        <div class="poll-info poll-info--right">
            <div class="poll-info-container">Cost: <span class="poll-info-text">{{__poll.pollInputCoin}} <img class="coin-pic" [src]="'assets/sytmcoin.png'" alt="coin"></span></div>
            <div class="poll-info-container">Win: <span class="poll-info-text">{{__poll.pollOutputCoin}} <img class="coin-pic" [src]="'assets/sytmcoin.png'" alt="coin"></span></div>
        </div>
    </div>
    <hr>
    <div class="poll-body">
        <ng-voting class="poll-body-actions" *ngIf="ngVotingData" 
            [selectedOptionValue]="selectedOption || ''" 
            [data]="ngVotingData" 
            [showScale]="showScale()" 
            [isLoading]="__isLoading"
            [disable]="isVotingDisabled()" 
            (selected)="optionSelected($event)">
        </ng-voting>
        <div class="poll-body-features">
            <mat-icon class="material-symbols-outlined" aria-hidden="false" aria-label="refresh">
                {{ __poll.pollFeatures.retractable ? "sync" : "sync_disabled"}}
            </mat-icon>
            <mat-icon class="material-symbols-outlined" aria-hidden="false" aria-label="anonymous">
                {{ __poll.pollFeatures.anonymous ? "account_circle" : "no_accounts"}}
            </mat-icon>
            <mat-icon class="material-symbols-outlined" aria-hidden="false" aria-label="retractable">
                {{ __poll.pollFeatures.showTrend ? "flash_on" : "flash_off"}}
            </mat-icon>
        </div>
    </div>
    <div class="poll-info poll-info--left">Total predictions till now <span class="poll-info-text">{{__poll.totalCount}}</span></div>
    <div class="poll-info poll-info--left" *ngIf="showMembers()">
        <a class="link" (click)="openMemberPage(__poll.pollId)">View predictions</a>
    </div>
    <button *ngIf="!hideSubmitButton()" class="poll-submit-btn" mat-raised-button [disabled]="!selectedOption" color="primary" (click)="submit()">
        {{isRetractMode() ? 'Retract' : 'Submit'}}
    </button>

</article>