.poll {
    margin: 1rem;
    background-color: white;
    padding: 2rem;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    filter: drop-shadow(2px 4px 6px black);

    @media (max-width: 900px) {
        gap: 1rem;
    }

    hr {
        margin-top: 1rem;
    }

    &-grid {
        display: flex;
        flex-direction: row;
    }

    &-info {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin: .4rem;

        &-container {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        &--right {
            flex: 1; 
            justify-content: flex-end;
        }
        &--left {
            flex: 1;  
        }
        &-text {
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 1rem;
            border-radius: 5px;
            display: flex;
            gap: 1rem;
            align-items: center;

            mat-icon {
                color: #ffc100;
            }
        }
        &-time{
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            padding: .4rem;
            border-radius: 5px;
            align-items: center;
        }
    }

    &-body {
        display: flex;

        &-actions {
            flex-grow: 5;
        }
        &-features {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            background: rgba(0, 0, 0, 0.8);
            margin-top: 3rem;
            border-left: 1px solid #d9d9d9;
            
            mat-icon {
                color: yellow;
            }
        }
    }

    &-submit-btn {
        width: fit-content;
        align-self: end;

        @media (max-width: 600px) {
            align-self: center;
        }
    }
}

.link {
    color: blue; 
    cursor: pointer; 
  }
  
  .link:hover {
    color: darkblue; 
  }
  

  .coin-pic
  {
    width: 20px;
  } 

  .matchOutcome {
    background: linear-gradient(135deg,  #b91004, #ffffff);
    border-radius: 8px;
  }

  .bonus {
    background: linear-gradient(135deg, #be9f04, #ffffff);
    border-radius: 8px;
  }

  .tournament {
    background: linear-gradient(135deg, #0d8602, #ffffff);

    border-radius: 8px;
  }