.poll {
    margin: 1rem;
    background-color: white;
    padding: 2rem;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    filter: drop-shadow(2px 4px 6px black);

    @media (max-width: 900px) {
        gap: 1rem;
    }

    hr {
        margin-top: 2rem;
    }

    &-grid {
        display: flex;
        flex-direction: row;
    }

    &-info {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-top: 1rem;

        &-container {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        &--right {
            flex: 1; 
            justify-content: flex-end;
        }
        &--left {
            flex: 1;  
        }
        &-text {
            background-color: black;
            color: white;
            padding: 1rem;
            border-radius: 5px;
            display: flex;
            gap: 1rem;
            align-items: center;

            mat-icon {
                color: #ffc100;
            }
        }
        &-time{
            background-color: rgb(232, 232, 232);
            color: rgb(36, 36, 36);
            padding: .6rem;
            border-radius: 5px;
            align-items: center;
        }
    }

    &-body {
        display: flex;

        &-actions {
            flex-grow: 5;
        }
        &-features {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            background: linear-gradient(135deg, #2c003e, #6a0dad);
            margin-top: 3rem;
            border-left: 1px solid #ffb6c1;
            
            mat-icon {
                color: yellow;
            }
        }
    }

    &-submit-btn {
        width: fit-content;
        align-self: end;

        @media (max-width: 600px) {
            align-self: center;
        }
    }
}

.link {
    color: blue; 
    cursor: pointer; 
  }
  
  .link:hover {
    color: darkblue; 
  }
  

  .coin-pic
  {
    width: 20px;
  } 