.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(135deg, #2c003e, #6a0dad);
    box-shadow: 1px 1px 5px #1f1919;
    animation: moveInTop .5s ease-out .3s;
    animation-fill-mode: backwards;
    text-transform: capitalize;
}