<section class="signup">
    <h3 class="signup-header">Sign up</h3>
    <form (ngSubmit)="onSubmit()" class="signup-form" [formGroup]="form">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" type="text" matInput placeholder="Name">
            <mat-error *ngIf="getFormControlErrors('name')">{{getFormControlErrors('name')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput placeholder="Email">
            <mat-error *ngIf="getFormControlErrors('email')">{{getFormControlErrors('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input formControlName="password" [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="getFormControlErrors('password')">{{getFormControlErrors('password')}}</mat-error>
        </mat-form-field>
        <div class="signup-actions">
            <button class="signup-form-submit" color="primary" type="submit" mat-raised-button>Submit</button>
            <a routerLink="/auth/login">Already a member? Login</a>
        </div>
        
    </form>
</section>