.signup {

    &-header {
        margin-bottom: 3rem;
    }

    &-form{
        display: flex;
        flex-direction: column;

        &-submit {
            margin-top: 3rem;
        }
    }

    
    
}