<div class="matches">
    <nav-top [links]="filters" [show]="true" (clicked)="onFilterSelect($event)"></nav-top>
    <button mat-icon-button class="matches-close-btn" (click)="onClose()">
        <mat-icon color="accent">close</mat-icon>
    </button>
    <ng-container *ngIf="matches$ | async as matches">
        <ul class="matches-list" *ngIf="matches.length; else emptyTpl">
            <li class="matches-list-item" *ngFor="let match of matches">
                <app-match [match]="match" (selected)="onMatchSelected($event)"></app-match>
            </li>
        </ul>
    </ng-container>
    <mat-spinner class="loader" color="accent" *ngIf="matchesProcessing$ | async"></mat-spinner>
</div>

<ng-template #emptyTpl>
    <div class="empty-data">
        <img class="ball" src="assets/ball.png" alt="">
        <div class="ball-shadow"></div>
        <h1 class="empty-data-header">
            No data found here !
        </h1>
    </div>
</ng-template>
