    <div class="leaderboard-user">
        <div class="leaderboard-user-rank">
            {{user.rank}}
        </div>
        <img [src]="user.pic" class="leaderboard-user-pic" alt="pic">

        <div class="leaderboard-user-name" (click)="openDrawer(user.userId)">
            <a>{{ user.displayName }}</a> 
        </div>        
        <div class="leaderboard-user-val">
            <p> {{user.correctPredictions}} of {{user.totalPredictions}} ({{user.predictionAccuracy}}%) </p>
            <p class="small-text">match predictions</p>
        </div>
        <div class="leaderboard-user-val">
            <p> {{user.correctBonusPredictions}} of {{user.bonusPredictions}} ({{user.bonusAccuracy| number: '1.0-0'}}% ) </p>
            <p class="small-text">bonus predictions</p>
        </div>
        <div class="rank-change">
            <span *ngIf="user.rankChange.indicator === 'u'" class="material-icons" style="color: green;">arrow_upward</span>
            <span *ngIf="user.rankChange.indicator === 'd'" class="material-icons" style="color: red;">arrow_downward</span>
            <span *ngIf="user.rankChange.indicator === 'n'" class="material-icons" style="color: grey;">remove</span>
            <small style="vertical-align: super;">{{ user.rankChange.value }}</small>
        </div>
        
    </div>   
