<div class="leaderboard-user">
        <div class="leaderboard-user-rank">
            {{user.rank}}
        </div>
        <div class="leaderboard-user-pic">
            {{user.pic}}
        </div>
        <div class="leaderboard-user-name">
            <a (click)="activeLink = 'userstats'" [class.active-link]="activeLink == 'userstats'" [routerLink] ="'userstats'">{{ user.displayName }}</a>
        </div>        
        <div class="leaderboard-user-val">
            <p> {{user.correctPredictions}} of {{user.totalPredictions}} ({{user.predictionAccuracy}}%) </p>
            <p class="small-text">match predictions</p>
        </div>
        <div class="leaderboard-user-val">
            <p> {{user.correctBonusPredictions}} of {{user.bonusPredictions}} ({{user.bonusAccuracy| number: '1.0-0'}}% ) </p>
            <p class="small-text">bonus predictions</p>
        </div>
        <div class="rank-change">
            <span [style.color]="user.rankChange.indicator === 'u' ? 'green' : (user.rankChange.indicator === 'd' ? 'red' : 'inherit')">{{user.rankChange.value}}</span>
        </div>
    </div>   