.user-stats {
  width: 100%;
  margin-top: -5%;
  padding: 10%;
  background: linear-gradient(215deg, #2c003e, #6a0dad);
  min-height: 100vh;

  &-card {
    background: linear-gradient(135deg, #ffffff, #f5eb98); 
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &-detail {
    flex: 1 1 calc(50% - 10px);
    padding: 10px;
    border-radius: 5px;
    background: #fff;
  }

}

.user-team-image {
  width: 60px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.coin-image {
  width: 40px;
  height: auto;
}


.user-stat {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
}

.stat-header {
  font-family: "Roboto", sans-serif;
  color: #44025e;
  text-transform: uppercase;
}

.stat-detail {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #ffb6c1;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}


.stat-detail p {
  font-family: "Lato", sans-serif;
  font-size: small;
}

.stat-detail h2 {
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.accuracy-container {
  margin-top: 10px;

  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.streak-details{
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #ffb6c1;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}


.team-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.team-container p {
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}


@media screen and (max-width: 768px) {
  .user-stats-detail {
      flex: 1 1 calc(100% - 10px);
  }
}

.userStats-close-btn {
  position: absolute;
  top: 5rem;
  right: 1rem;

  mat-icon {
      font-weight: bold;
  }
}