<button mat-icon-button class="userStats-close-btn" (click)="onClose()">
  <mat-icon color="accent">close</mat-icon>
</button>

<article class="user-stats"  *ngIf="userStats; else loadingTpl">
    <div class="user-stats-card" >
      <div class="user-stats-details">
        <div class="user-stats-detail">
          <div class ="stat-header">
            <h4>Rank</h4>
          </div>
          <div class = "user-stat">
            <div class="stat-detail">
              <span>
                <p>Current</p>
                <hr class="horizontal-line">
                <h2>{{ userStats.rank.current }}</h2>
              </span>
            </div>
            <div class="stat-detail">
              <span>
                <p>Best</p>
                <hr class="horizontal-line">
                <h2>{{ userStats.rank.best }}</h2>
              </span>
            </div>
            <div class="stat-detail">
              <span>
                <p>Previous</p>
                <hr class="horizontal-line">
                <h2>{{ userStats.rank.previous }}</h2>
              </span>
            </div>
          </div>
          <hr class="horizontal-line">
          <div class="accuracy-container-top">
            <div class="team-info">
              <div class="stat-header">
                <h4>Supporting</h4>
              </div>
              <div class="user-stat">
                <div class="team-container">
                  <div *ngIf="userStats.favoriteTeam.teamFlag; else noImage">
                    <div class="image-container">
                      <img [src]="userStats.favoriteTeam.teamFlag" alt="team" class="user-team-image">
                    </div>
                    <p>{{ userStats.favoriteTeam.teamName }}</p>
                  </div>
                  <ng-template #noImage>
                    <div class="no-image-container">
                      <p>No team yet!</p>
                      <br>
                      <a (click)="openTPoll()"><p class="message">Support my team</p></a>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="coin-info">
              <div class="stat-header">
                <h4>Balance</h4>
              </div>
              <div class="user-stat">
                <div class="team-container">
                  <p>{{ userStats.coinsEarned.total }}</p>
                  <img [src]="userStats.coinsEarned.icon" alt="coins" class="coin-image">
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="user-stats-detail">
            <div class ="stat-header">
              <h4>Match Predictions</h4>
            </div>
            <div class = "user-stat">
              <div class="stat-detail">
                <span>
                  <p>Total</p>
                  <hr class="horizontal-line">
                  <h2>{{ userStats.predictions.total }}</h2>
              </span>
              </div>
              <div class="stat-detail">
                <span>
                  <p>Correct</p>
                  <hr class="horizontal-line">
                  <h2>{{ userStats.predictions.correct }}</h2>
                </span>
              </div>
              <div class="stat-detail">
                <span>
                  <p>Accuracy </p>
                  <hr class="horizontal-line">
                  <h2>{{ userStats.predictions.predictionAccuracy| number: '1.2-2' }}%</h2>
                </span>
              </div>
            </div>
          <hr class="horizontal-line">
          <div class="accuracy-container">
            <div class ="stat-header">
              <h4>Bonus Predictions</h4>
            </div>
            <div class = "user-stat">
              <div class="stat-detail">
                <span>
                  <p>Total</p>
                  <hr class="horizontal-line">
                  <h2>{{ userStats.predictions.bonusTotal }}</h2>
                </span>
              </div>
              <div class="stat-detail">
                <span>
                  <p>Correct</p>
                  <hr class="horizontal-line">
                  <h2>{{ userStats.predictions.bonusCorrect }}</h2>
                </span>
              </div>
              <div class="stat-detail">
                <span>
                  <p>Accuracy </p>
                  <hr class="horizontal-line">
                  <h2>{{ userStats.predictions.bonusPredAccuracy| number: '1.2-2' }}%</h2>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="user-stats-detail">
            <div class ="stat-header">
              <h4>Streaks</h4>
            </div>
            <div class ="user-stat">
              <div class ="stat-detail">
                <span>
                  <p>Match</p>
                  <hr class="horizontal-line">
                  <h2>{{ userStats.currentStreak }}</h2>
                </span>
              </div>
              <div class ="stat-detail">
                <span>
                  <p>Bonus</p>
                  <hr class="horizontal-line">
                  <h2>{{ userStats.bonusStreak }}</h2>
                </span>
              </div>
              <div class ="stat-detail">
                <span>
                  <p>Regular</p>
                  <hr class="horizontal-line">
                  <h2>{{ userStats.regularStreak }}</h2>
                </span>
              </div>
            </div>
            <hr class="horizontal-line">
            <div class="accuracy-container">  
                <div class ="streak-details">
                    <p>Highest Streak : {{ userStats.highestStreak }}</p>
                  <hr class="horizontal-line">
                  <div *ngFor="let streak of userStats.streaksWon" class = "stat-detail">
                    <span>
                      <p>{{ streak.category }} ({{ streak.count }})</p>
                      <hr class="horizontal-line">
                      <p>Match No: {{ streak.matchNo }}</p>
                      <p>{{ streak.date | date: 'mediumDate' }}</p>
                    </span>
                </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </article>

  <ng-template #loadingTpl>
    <div class="loader-container">
      <mat-spinner class="loader" color="accent"></mat-spinner>
    </div>
  </ng-template>
  