<article class="rules">
    <div class="rules-container">
        <mat-accordion>
            <p>There is a world to discover when you become part of the SYTM prediction community. So keep predicting!</p>
            <br>
            <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Get Started
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>Setup your profile</h4>
            <p>Congratulations! You just registered with SYTM pred2win.</p>
            <p>Please make a note of the memberId from <a class="links-to-move">Profile>Account</a> section. MemberId is needed for password reset or in extraordinary circumstances. Changing password is a bit of hassle in current phase, so please keep your password safe!</p>
            <p>Updating rest of the details on Account section is optional, but recommended for better communication.</p>
            <p>Also it is recommended to join the SYTM <a class="links-to-move">Forum</a> to stay connected with other predictors and get important announcements from SYTM Admin.</p>
            <h4>Not happy with your avatar?</h4>
            <p>We know, but that's the best we can offer at the moment. We promise to get you better ones soon!</p>
            <h4>Participate in the Tournament</h4>
            <p>Join the UEFA Euro 2024 tournament and make predictions on upcoming matches for Euro 2024 on pred2win.com.</p>
            <p>Follow the tournament <a class="links-to-move">leaderboard</a> (icon on the right side of the tournament) to see where you rank among other predictors!</p>
            <h4>Eligibility for Awards</h4>
            <p>As soon as you join a tournament, you become eligible for the tournament awards and streaks. These are automatically calculated after each match based on predictions. Get more details below.</p>
            <h4>Prediction on Polls</h4>
            <p>Start predicting on the match polls on matches allocated for prediction. You can access match polls (if available) by clicking on each match.</p>
            <p><a>Tournament polls</a> are available even before the tournament starts, and accessible at <a class="links-to-move">Awards> T Polls</a>. If you joined in the middle of a tournament, some of the tournament polls might have been closed already.</p>
            <p>Ensure you have enough coins in your balance to make any predictions.</p>
            <h4>So first...</h4>
            <p>To get started with your predictions, you need to get verified by the SYTM Admin!</p>
        </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Verification
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>Building Trust and Harmony</h4>
            <p>Member Verification is a crucial step to ensure trust and harmony within the SYTM community. It helps to maintain the integrity of the platform and ensures that all members are genuine sports enthusiasts.</p>
            <h4>Current Verification Process</h4>
            <p>In the current phase, with a limited number of members, verification is conducted by SYTM Admin through a quick background check.
                This phase primarily involves existing members, making the process straightforward and efficient.</p>
                <p>Please join <a class="links-to-move">SYTM forum</a> or drop a mail to <a class="links-to-move">pred2win@gmail.com</a> to get verified.</p>
            <h4>Future Verification Process</h4>
            <p>As the community grows, the verification process may evolve to include the uploading of personal identification documents.
                This will help maintain high standards of security and trust within an expanding member base.</p>
            <h4>Post-Verification Benefits</h4>
            <p>Once verified by the Admin, members will receive 1000 SYTM coins.
                These coins are used to make predictions on polls on pred2win.com.</p>
            <h4>Prediction Restrictions</h4>
            <p>Members cannot make any predictions until the verification process is complete.
                This ensures that all participants in predictions are verified members, fostering a trustworthy environment for everyone.</p>
            <br>
            <p>By adhering to this verification process, we aim to create a more enjoyable platform for all sports lovers. Your cooperation in this process is highly appreciated.</p>
            </mat-expansion-panel>
      
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Coins
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Member's account is created upon joining pred2win.com. In current phase, member's account is debited with 1000 SYTM coins upon verification.</p>
              <p>Coins are required to submit prediction on polls. Rate of each poll is given on the poll section.</p>
              <p>All coin transaction details are recorded on the <a class="links-to-move">Profile>Passbook</a> section.</p>
              <p>Please check more details of SYTM coins on the <a class="links-to-move">SYTM Coins</a> section of Profile>Disclaimer.</p>
            </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tournaments
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>In current phase, SYTM prediction games are conducted only for UEFA Euro 2024.</p>
            <p>SYTM wishes to engage in more number of tournaments, even simultaneously held, in future.</p>
          </mat-expansion-panel>
   
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Matches
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>The <a class="links-to-move">Matches</a> section inside a tournament is divided into four tabs to help you navigate through different stages of match predictions efficiently.</p>
            <h4>Allocated</h4>
            <p>This tab displays all the matches that have been allocated for predictions.</p>
            <p>Matches are allocated 24 hours before their start time, and moved to ongoing when they start.</p>
            <h4>Ongoing</h4>
            <p>This tab shows the matches that are currently ongoing.</p>
            <p>Predictions are no longer accepted on polls.</p>           
            <h4>Calculated</h4>
            <p>This tab contains matches for which the results have been calculated.</p>
            <p>Check the polls for the calculated matches to analyze prediction performance and compare results.</p>
            <h4>Scheduled</h4>
            <p>This tab lists all the upcoming matches that are scheduled for the future.</p>
            <p>Stay organized by knowing the schedule of upcoming matches.</p>
            <br>
            <p>Please note : Matches will not be shown when being calculated.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Polls
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="poll-pic">
              <img class="poll-pic-img" [src]="'https://sytm-dev.s3.amazonaws.com/rules/poll.png'" alt="poll pic">
            </div>
            <br>
            <p>There are 3 type of polls in the current version of pred2win.com</p>
            <br>
            <p>Each match in the tournament typically has 1 match outcome poll and multiple bonus polls.</p>
            <p>These 'match polls' activate i.e become available for prediction, 24 hours before match start time ie, when match is allocated. Polls close when match starts.</p>
            <p>Number of bonus polls and all match poll values increase with each stage of the tournament. </p>
            <h4>Match Outcome polls</h4>
            <p>These are the red polls for the result of the match.</p>
            <h4>Bonus Polls</h4>
            <p>These are the yellow polls for other events in the match.</p>
            <p>Bonus polls are only applicable if match outcome poll for that match has also been predicted. </p>
            <p>In case bonus polls were submitted without predicting the match outcome poll for the match, the predictions are auto retracted from the bonus polls and the coins are debited back to the members.</p>
            <h4>Tournament Polls</h4>
            <p>These are the green polls for events at a tournament level.</p>
            <p>Tournament or T Polls can start and close anytime before and during the tournament. Exact times will be communicated by Admin on Forum. Please keep a watch.</p> 
            <p>The T Poll 'Which team are you supporting' does not need any coins, but updates your favorite team choice for the tournament!</p>
            <br>
            <p>In the following phases, we will have two more types of polls :</p>
            <ul>
              <li>Flash polls - Blue</li>
              <li>Opinion polls - Grey</li>
            </ul>
            <hr>
            <p>As a good practice, always check poll value and features before prediction.</p>
            <h4>Poll end time</h4>
            <p>The end time of each poll is indicated at the top left corner of the poll until the poll closes.</p>
            <h4>Poll Submission</h4>
            <p>Submit button will appear once an option is selected. Poll submission will credit your account with poll cost value. Also a record will appear on Predbook.</p>
            <p>Note: On polls where poll feature 'Retractable' is disabled, submission of a poll is an irreversible action.</p>
          </mat-expansion-panel>
      
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Poll Value
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Coins required to predict on poll (Cost) and coins won if poll prediction matches with actual match result/events (Win) are indicated at the top section of each poll.</p>
            <p>Coins of Cost value are credited from member's account upon submitting the prediction on the poll.</p>
            <p>Coins of Win value are debited to member's account after the match is calculated, if prediction was right.</p>
            <p>For Tournament polls (Tpolls), the cost and win are defined on each individual poll. </p>
              <ul>
                <li>Coins are credited from member's account upon poll submission.</li>
                <li>Coins are debited to the winning members' accounts after the tournament, or when the poll is calculated.</li>
              </ul> 
            <br>
            <p>Poll Value/Rate chart for match polls for Euro 2024 is given here.</p>
            <div class="poll-pic">
              <img class="poll-pic-img" [src]="'https://sytm-dev.s3.amazonaws.com/rules/poll-rate.png'" alt="poll-rate pic">
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Poll Features
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="poll-pic">
              <img class="poll-pic-img" [src]="'https://sytm-dev.s3.amazonaws.com/rules/poll-features.png'" alt="poll pic">
            </div>
            <h4>Poll Features</h4>
            <p>The features of each poll is indicated at the right side.</p>
            <br>
            <ul>
              <li>Retractable : Ability to retract a submitted poll. When disabled, the retract button will not appear on the poll, after an option is submitted.</li>
              <li>Anonymous : Ability to view list of members on the poll options predicted on a poll, if 'Anonymous' is disabled. When enabled, the 'View predictions' feature is not available on the poll.</li>
              <li>Show Trend : Ability to view the voting ratio on poll options even before submitting the prediction.</li>
            </ul>
            <br>
            <p>How does it affect predictions?</p>
            <h4>View Predictions</h4>
            <p>The total count of predictions on a poll is always displayed.</p>
            <p>Additionally, if the poll feature 'Anonymous' is disabled, members can view the predictions and predicted members after submitting prediction on the poll. 'View predictions' link will be available.</p>
            <p>The ratio of predictions on the poll options are also indicated after submitting prediction on poll. This is called PP - prediction probability. If poll feature 'Show Trend' is enabled, then the ratio is shown even before prediction submission.</p>
            <p></p>
            <h4>Retract Button</h4>
            <p>If poll feature 'Retractable' is enabled, a retract button will appear after a prediction is submitted on a poll. Members can revoke their prediction from such polls. Coins that were credited from member's account get debited back immediately.</p>
            <p>Poll retraction, like poll submission is not available when poll is closed or match starts.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Predictions
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>All predictions remain on polls, available to be seen even after matches are calculated.</p>
            <p>You can also view all your prediction records on match polls in <a class="links-to-move">Account>Predbook.</a></p>
            <p>Prediction statistics of other members can be viewed by clicking on their name on leaderboard.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Scores
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Match polls are calculated after each match, and records are updated on leaderboard, passbook, predbook, awards and streaks dashboard.</p>
            <p>So if you joined in the middle of a tournament, please wait till the score calculation of the next match to view your name on the leaderbaord.</p>
            <p>Ranking is done with a sorting of the members based on (in order): </p>
              <ul>
                <li>Highest correct match outcome predictions</li>
                <li>Highest prediction accuracy on match outcomes</li>
                <li>Highest bonus accuracy</li>
                <li>User Name (A->Z)</li>
              </ul>
              <br>
            <p>Please check the awards section for 'tie at top' situation i.e if the top predictors have same number of correct predictions with accuracy.</p>
            <p>Rank change indicator is based on a single match.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Awards
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Based on the prediction performances, the <a href = "../../awards/awards.component.html">Awards</a> board will display the nominations of each category. Coins are debited to the winning members at the end of the tournament.</p>
            <h4>Rank Awards</h4>
            <p>For Champion / Dark Knight/ Fighter Awards, the rank 1, 2, 3 of the leaderboard at the end of the tournament are considered. </p>
            <p>If total correct predictions, prediction accuracy and bonus accuracy is exactly same for any of the top three members of the leaderboard, the higher award is given to those members.</p> 
            <p>e.g – Member1 finishes at Champion position and Member2 finishes at Dark Knight position, both predicting 51 matches with accuracy n%, and bonus accuracy with m% (does not depend on total bonus predicted), then both Member1 and Member2 win coins allocated for Champion.</p>
            <p>That also means that if member(s) in position 4/5/6 or more, with same correct predictions, accuracy and bonus accuracy as any of the top 3 positions, will get the corresponding award.</p>    
            <p>Award nominees for these will be shown on Awards board, after Match 6.</p>   
            <h4>Precise Awards</h4>
            <p>For Predictor Precise, member should predict atleast 75% of the matches in the tournament. Award nominees will be shown after Match 26 (50% of Euro 2024 matches).</p>     
            <p>In case multiple members are tied for the award, the coins won are split between them.</p>    
            <h4>Improbable Awards</h4>
            <p>For Predictor Improbable, only match outcome polls are considered, and neither bonus nor tournament polls. Award nominees are shown from match 2.</p>
            <p>In case multiple members are tied for the award, the coins won are split between them.</p>
          </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Streaks
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Based on the prediction performances, the <a href = "../../awards/awards.component.html">Streaks</a> board will display the winners of each category.</p>
            <p>Coins are debited to member’s account after a match is calculated where member has achieved a streak.</p>
            <p>Streaks for correct match outcome predictions in a row gets reset if a match is unpredicted.</p>
            <p>For Bonus king streak, unpredicted matches are not counted.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Not for you?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>If you do not find our platform interesting enough, and wish to withdraw your account, please mail to pred2win@gmail.com, with your memberId.</p>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
      
</article>