<article class="rules">
    <div class="rules-container">
        <mat-accordion>
            <p>Make predictions on upcoming matches on pred2win.com. Follow the tournament leaderboard to see where you rank among other predictors!</p>
            <p></p>
            <p>There is a world to discover when you become part of the SYTM prediction community. So keep predicting!</p>
            <p></p>
            <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Get Started
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Details about how to get started...</p>
          </mat-expansion-panel>
      
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Verification
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Details about verification...</p>
          </mat-expansion-panel>
      
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tournaments
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Details about tournaments...</p>
          </mat-expansion-panel>
      
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Polls
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Details about polls...</p>
          </mat-expansion-panel>
      
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Scores
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Details about scores...</p>
          </mat-expansion-panel>
      
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Awards
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>For Champion / Dark Knight/ Fighter Awards, the rank 1, 2, 3 of the leaderboard at the end of the tournament are considered. Coins are credited to respective members once leaderboard is locked for the tournament.</p>
            <p>If total predictions, prediction accuracy and bonus accuracy is exactly same for any of the top three members of the leaderboard, the higher award is given to those members.</p> 
            <p>e.g – Member1 finishes at Champion position and Member2 finishes at Dark Knight position, both predicting 51 matches with accuracy n%, and bonus accuracy with m% (does not depend on total bonus predicted), then both Member1 and Member2 win coins allocated for Champion.</p>    
            <p>Award nominees for these will be shown on Awards board, after Match 6.</p>   
            <br>
            <p>For Predictor Precise, member should predict atleast 75% of the matches in the tournament. Award nominees will be shown after Match 26 (50% of the tournament matches).</p>     
            <p>In case multiple members are tied for the award, the coins won are split between them.</p>    
            <br>
            <p>For Predictor Improbable, only match outcome polls are considered, and not bonus polls. Award nominees are shown from match 2.</p>
            <p>In case multiple members are tied for the award, the coins won are split between them.</p>
          </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Streaks
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Details about awards...</p>
          </mat-expansion-panel>
      
        </mat-accordion>
      </div>
      

</article>