<div class="polls">
    <button mat-icon-button class="polls-close-btn" (click)="onClose()">
        <mat-icon color="accent">close</mat-icon>
    </button>
    <ng-container *ngIf="!(pollsProcessing$ | async); else loadingTpl">
        <ng-container *ngIf="polls$ | async as polls">
            <ul class="polls-list" *ngIf="polls.length; else emptyTpl">
                <li class="polls-list-item" *ngFor="let poll of polls">
                    <poll-view (submitted)="onPollSubmit($event)" [poll]="poll.data" [loading]="poll.actions.processing"></poll-view>
                </li>
            </ul>
        </ng-container>
    </ng-container>
</div>

<ng-template #loadingTpl>
    <mat-spinner class="loader" color="accent" ></mat-spinner>
</ng-template>

<!-- TODO - MAKE THIS REUSABLE -->
<!-- TODO - Create Data Loader directive to show LOADING, ERROR and EMPTY states-->
<ng-template #emptyTpl>
    <div class="empty-data">
        <img class="ball" src="assets/ball.png" alt="">
        <div class="ball-shadow"></div>
        <h1 class="empty-data-header">
            No polls yet !
        </h1>
    </div>
</ng-template>