.halloffame-container {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #2c003e, #6a0dad);
    display: flex;
    flex-direction: column;
    z-index: -1;
    padding-bottom: 6rem;
}

.halloffame {
    width: 60%;
    margin: auto;
    margin-top: 6vh;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: 1024px) {
        width: 80%;
    }

    @media screen and (max-height: 600px) {
        margin-top: 10vh;
    }
}

