<ng-container *ngIf="isLoggedIn$ | async">
    <nav mat-tab-nav-bar backgroundColor="primary" class="header">
        <a mat-tab-link *ngFor="let link of links"
           (click)="activeLink = link"
           [active]="activeLink == link"> {{link}} </a>
        <!-- <a mat-tab-link disabled>Disabled Link</a> -->
    </nav>
    <nav class="footer">
        <ul class="footer-nav">
            <li class="footer-nav-item">
                <a class="footer-nav-link" >
                    <mat-icon class="footer-nav-link-icon">home</mat-icon>
                </a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link">
                    <mat-icon class="footer-nav-link-icon">sports_soccer</mat-icon>
                </a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link">
                    <mat-icon class="footer-nav-link-icon">leaderboard</mat-icon>
                </a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link">
                    <mat-icon class="footer-nav-link-icon">forum</mat-icon>
                </a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link">
                    <mat-icon class="footer-nav-link-icon">account_circle</mat-icon>
                </a>
            </li>
        </ul>
    </nav>
</ng-container>

<router-outlet></router-outlet>