<ng-container *ngIf="isLoggedIn$ | async as isLoggedIn">
    <nav-top [links]="topNavlinks" [tabPanel]="tabPanel" [show]="isLoggedIn">
        <button mat-icon-button class="logout" (click)="logout()" aria-label="Logout">
            <mat-icon color="accent">power_settings_new</mat-icon>
        </button>
    </nav-top>
    <nav-footer [links]="footerNavLinks" [show]="isLoggedIn" (clicked)="footerNavClick($event)">
    </nav-footer>

</ng-container>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>