<ng-container *ngIf="isLoggedIn$ | async as isLoggedIn">
    <nav-top [links]="topNavlinks" [tabPanel]="tabPanel" [show]="isLoggedIn">
        <button mat-icon-button class="logout" (click)="logout()" aria-label="Logout">
            <mat-icon color="accent">power_settings_new</mat-icon>
        </button>
    </nav-top>
    <nav class="footer">
        <ul class="footer-nav">
            <li class="footer-nav-item" *ngFor="let nav of footerNavLinks">
                <a class="footer-nav-link" mat-icon-button [routerLink]="nav.name">
                    <mat-icon class="footer-nav-link-icon">{{nav.icon}}</mat-icon>
                </a>
            </li>
        </ul>
    </nav>


</ng-container>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>