<div class="forum">
    <article class ="forum-container">
        <div class="welcome-note">
            <h1>Pred2win.com Forum</h1>
            <hr>
            <p>
                What can you do on Forum? 
            </p> 
            <div class ="forum-list">
                <ul>
                    <li>
                        Connect with SYTM Admin to get verified for coins (to predict on poll).
                    </li>
                    <li>
                        Get important announcements from Admin.
                    </li>
                    <li>
                        Post your queries and issues (if you face any) while using the app. 
                    </li>
                    <li>
                        Share your thoughts and feelings for an upcoming match. 
                    </li>       
                    <li>
                        Vent out your frustration or cheer with others during a match.
                    </li>                
                    <li>
                        Check achievements and stats shared after some matches.
                    </li>
                    <li>
                        Share pictures, videos if you are attending any match from stadium!
                    </li>  
                </ul> 
            </div>
            <span>
                <p>
                    Join our WhatsApp community - Support Your Team Mania
                </p>
            </span>

            <div class = "forum-list">
                <ul>
                    <li>
                        You can join the default group (Euro 2024 Predictions) which will add you to the community. Here you can interact with other members of the group. Announcement group will be automatically added for you within the community.
                    </li>
                    <li>
                        Or you can join only the 'Announcement' group to hear any news from SYTM Admin, and create your own group within the community!
                    </li>
                </ul>
            </div>
            <div class="links">
              <a href="https://chat.whatsapp.com/D1xQ8esu1gS4Wo5lkzcYwC" target="_blank" class="join-link">Join Euro 2024 Predictions</a>
              <a href="https://chat.whatsapp.com/Ho5VPEaFp4r7ctQNBooJMC" target="_blank" class="join-link">Join Announcement Group</a>
            </div>
            <div class ="forum-list">
                <span>
                    Do not forget to update your email address and mobile number in the <a href="../profile/account/account.component.html">Profile>Account</a> section for better communication with us. 
                </span>
                <span>
                    Please feel free to drop an email to <a href="">pred2win@gmail.com</a> for any queries or suggestions. Your feedback counts!
                </span>
                <hr>
                <span>
                    Please like and follow our Facebook Page - <a href="https://www.facebook.com/SupportYourTeamMania" target="_blank">Support Your Team Mania</a>
                </span>
            </div>
        </div>
    </article>
</div>

  