<div class="forum">
    <article class ="forum-container">
        <div class="welcome-note">
            <h1>Welcome to the Forum of Support Your Team Mania</h1>
            <hr>
            <p>
                What can you do on Forum? 
            </p> 
            <div class ="forum-list">
                <ul>
                    <li>
                        Connect with SYTM Admin to get verified for SYTM coins.
                    </li>
                    <li>
                        Get important announcements from SYTM Admin.
                    </li>
                    <li>
                        Post your queries and issues on the app usage. 
                    </li>
                    <li>
                        Share your thoughts and feelings for an upcoming match. 
                    </li>       
                    <li>
                        Vent out your frustration or cheer with others during the match.
                    </li>                
                    <li>
                        Check achievements and stats shared after some matches.
                    </li>
                    <li>
                        Share pictures, videos if you are attending any match from stadium!
                    </li>  
                </ul> 
            </div>
            <span>
                <p>
                    Forum for Euro 2024 is WhatsApp community - 
                    Support Your Team Mania
                </p>
            </span>

            <div class = "forum-list">
                <ul>
                    <li>
                        You can join the default SYTM group (Euro 2024 Predictions) which will add you to the community. Here you can interact with other members of the group. Announcement group will be automatically added.
                    </li>
                    <li>
                        Or you can just join the 'Announcement' group to hear any news from SYTM Admin, and create your own group within the community!
                    </li>
                </ul>
            </div>
            <div class="links">
              <a href="https://chat.whatsapp.com/D1xQ8esu1gS4Wo5lkzcYwC" target="_blank" class="join-link">Join Euro 2024 Predictions</a>
              <a href="https://chat.whatsapp.com/Ho5VPEaFp4r7ctQNBooJMC" target="_blank" class="join-link">Join Announcement Group</a>
            </div>
            <div class ="forum-list">
                Do not forget to update your email address and mobile number in the <a>Profile>Account</a> section for better communication with us. Please feel free to drop a mail to <a>pred2win@gmail.com</a> for any queries or suggestions. Your feedback counts!
            </div>
        </div>
    </article>
</div>

  