<div class="profile">
    <div class="profile-card">
        <div class="profile-card-left">
            <div class="profile-card-left-pic">
                <img class="profile-card-left-pic-img" src="assets/profile.jpg" alt="profile pic">
            </div>
            <div class="profile-card-left-links">
                <a mat-flat-button routerLink="account">Account</a>
                <a mat-flat-button routerLink="password">Password</a>
                <a mat-flat-button routerLink="contact">Contact</a>
                <a mat-flat-button routerLink="terms-conditions">Legal</a>
                <button mat-flat-button (click)="logout()">Logout</button>
            </div>
        </div>
        <div class="profile-card-right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
