<div class="auth">
    <section class="auth-info">
        <div class="auth-info-container">
            <header class="auth-info-header">
                <h1 class="auth-info-header__text">PRED 2 WIN</h1>
                <div class="auth-info-header__svg"></div>
            </header>
            <p class="auth-info-description">
                The ultimate platform to showcase your match prediction prowess. Join fellow sports enthusiasts and elevate your experience in major sports tournaments!
            </p>
        </div>
    </section>
    <section class="auth-forms">
        <div class="auth-forms-outlet">
            <router-outlet></router-outlet>
        </div>     
    </section>
</div>

