<div class="auth">
    <section class="auth-info">
        <div class="auth-info-container">
            <header class="auth-info-header">
                <h1 class="auth-info-header__text">PRED 2 WIN</h1>
                <div class="auth-info-header__svg"></div>
            </header>
            <p class="auth-info-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            </p>
        </div>
    </section>
    <section class="auth-forms">
        <div class="auth-forms-outlet">
            <router-outlet></router-outlet>
        </div>     
    </section>
</div>

