<h1>Password</h1>
<section class="password">
    <form (ngSubmit)="onSubmit()" class="password-form" [formGroup]="form"> 
        <mat-form-field class="password-form-field">
          <mat-label>Old Password</mat-label>
          <input type="password" matInput formControlName="oldPassword" placeholder="Old Password">
          <mat-error *ngIf="getFormControlErrors('oldPassword')">{{getFormControlErrors('oldPassword')}}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="password-form-field">
            <mat-label>New Password</mat-label>
            <input type="password" matInput formControlName="newPassword" placeholder="New Password">
            <mat-error *ngIf="getFormControlErrors('newPassword')">{{getFormControlErrors('newPassword')}}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="password-form-field">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm Password">
            <mat-error *ngIf="getFormControlErrors('confirmPassword')">{{getFormControlErrors('confirmPassword')}}</mat-error>
        </mat-form-field>
    </form>
</section>
<button mat-raised-button (click)="onSubmit()" color="primary">Update</button>
