<article class="about-us">
    <h2>Support Your Team Mania</h2>
    <hr>
    <div class="about-us-context">
        <p>'SYTM' is a community of sports lovers, who had been gathering together during major sport tournaments over the years, showcasing their talent on predicting match results and other events.</p>
    </div>
    <div class="about-us-content">
        <p>2010. It all started with an excel sheet, couple of curious minds and a need to spice up the FIFA World Cup 2010 among a group of football lovers. Ever since then prediction games have been conducted in various formats for major tournaments. The process became refined through each iterations and the popularity grew over the years. 
    </div>
    <div class ="about-us-content">
        <p>2024. Pred2win webapp is launched to conduct the SYTM prediction games. This is the beta version of the app, with limited members to perform test on the functionalities during Euro 2024.</p>
    </div>
    <div class = "about-us-content">
        <p>Post Euro 2024, the app will be made unavailable temporarily while some upgrades (as observed from the tournament) will be applied. Pred2win is expected to return with more features and enhanced user interface to support more members!</p>
    </div>
    <hr>
    <p>Pred2win application is developed, managed and owned by :</p>
    <div class = "about-us-members">
        <div class = "member-profiles">
            <div class ="member-image">

            </div>
            <div class = "member-name">
                <h4>Avik Chaudhuri</h4>
            </div>
            <div class = "member-description">
                <p>Functional Designer & Operations</p>
            </div>
        </div>
        <div class = "member-profiles">
            <div class ="member-image">

            </div>
            <div class = "member-name">
                <h4>Soham Bagh</h4>
            </div>
            <div class = "member-description">
                <p>Business Analyst</p>
            </div>
        </div>
        <div class = "member-profiles">
            <div class ="member-image">

            </div>
            <div class = "member-name">
                <h4>Soham Roy</h4>
            </div>
            <div class = "member-description">
                <p>Consulting Architect</p>
            </div>
        </div>
        <div class = "member-profiles">
            <div class ="member-image">

            </div>
            <div class = "member-name">
                <h4>Jeet Adhikari</h4>
            </div>
            <div class = "member-description">
                <p>Web Developer</p>
            </div>
        </div>
    </div>
    <hr>
    <div class = "about-us-credits">
        <h2>Credits</h2>
        <div class = "credits-people">
            <p>Launch of pred2win webapp is possible because of the constant support from the members. Some of them significantly influenced the growth of SYTM and to create pred2win.com!</p>
            <br>
            <p>Mrinal Roy initiated the first edition in 2010.</p>
            <p>Keshav Goyal conducted the FIFA World Cup 2022 version of SYTM.</p>
            <p>Anaranya Bagchi and Adhiraj Goswami have had phenomenal contribution to spread the community.</p>

        </div>
        <div class = "credits-system">
            <h4>Media credits:</h4>
            <p>Avatar and Poll icons by : <a href="https://www.flaticon.com/free-icons/2" target="_blank" title="2 icons">Freepik - Flaticon</a></p>
            <p>Flags by : <a href="https://iconscout.com/icon-pack/country-flags" target="_blank">Country Flags Icon Pack</a> by <a href="https://iconscout.com/contributors/iconscout">IconScout Store</a> on <a href="https://iconscout.com">IconScout</a></p>
            <br>
            <p>Several other icons have been taken from individual contributors on Flaticon platform. Thanks to all of them. Credits can be claimed by contacting Admin.</p>
            <p><a href="https://www.vecteezy.com/free-vector/fifa-world-cup-2022-logo">Fifa World Cup 2022 Logo Vectors by Vecteezy</a></p>
        </div>
    </div>
</article>