<nav-top [links]="filters" [show]="true" (clicked)="onFilterSelect($event)"></nav-top>
<div *ngIf="loading">
  <mat-spinner class="loader" color="accent" *ngIf="loading"></mat-spinner>
</div>

<div class="awards" *ngIf="!loading">
  <div class="award-cards" *ngIf="awardDetails; else emptyTpl">
    <div *ngFor="let award of awardDetails" class="award-card">
      <img *ngIf="award.icon" [src]="award.icon" class="award-icon" alt="Award Icon">
      <div class="award-details">
        <h2>{{ award.category }}</h2>
        <p>{{ award.description }}</p>
        <p><em class="lighter-font">{{ award.condition }}</em></p>    
        <div class="coins-info" >
            Coins to be won: <strong>{{ award.coinsAllocated }}</strong>
        </div>  
        <hr class="horizontal-line">
      </div>
      <!-- Winners section -->
      <div class="winner-details">
          <div *ngFor="let winner of award.winners">
            <div class="user-details">
              <div class="user-pic-container">
                <img [src]="winner.pic" alt="Member" class="user-pic">
              </div>
              <div class="user-info">
                <div class="display-name">{{ winner.displayName }} <sup *ngIf="award.changedFromLast" class="red-sup">new</sup></div>
                <div class="coins-earned">{{ winner.coinsEarned }}
                  <img class="coin-pic" [src]="'assets/sytmcoin.png'" alt="coin">
                </div>
              </div>
            </div>
            <hr>
            <div class="match-details">
              <div *ngIf="award.id==='award001' || award.id==='award002' || award.id==='award003'">
                <p *ngIf="winner.matchesAtTop">{{winner.matchesAtTop}} match{{ winner.matchesAtTop === 1?null:"es" }} at top</p>
              </div>
              <div *ngIf="award.id==='award005'">
                <p>{{winner.predictions}} predictions</p>
              </div>
              <div *ngIf="award.id==='award007' || award.id==='award008'">
                <p>{{winner.value}}% in Match {{winner.matchNo }}</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyTpl>
  <div class="empty-data">
      <img class="ball" src="assets/ball.png" alt="">
      <div class="ball-shadow"></div>
      <h1 class="empty-data-header">
          No awards here !
      </h1>
  </div>
</ng-template>