
<section class="login">
    <h3 class="login-header">Login</h3>
    <form (ngSubmit)="onLogin()" class="login-form" [formGroup]="form">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input formControlName="userName" type="text" matInput placeholder="Display Name / Email">
            <mat-error *ngIf="getFormControlErrors('userName')">{{getFormControlErrors('userName')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input formControlName="password" [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="getFormControlErrors('password')">{{getFormControlErrors('password')}}</mat-error>
        </mat-form-field>
        <div class="login-actions">
            <button class="login-form-submit" color="primary" type="submit" [class.button-spinner]="isAuthLoading$ | async" mat-raised-button>
                Submit
            </button>
            <a routerLink="/auth/signup">Become a member</a>
        </div>
    </form>
</section>