<section class="password">
    <h3 class="password-header">Change Password</h3>
    <form class="password-form" [formGroup]="form">
        <mat-form-field>
            <mat-label>Member Id</mat-label>
            <input formControlName="userId" type="text" matInput placeholder="Member Id">
            <mat-error *ngIf="getFormControlErrors('userId')">{{getFormControlErrors('userId')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input formControlName="password" [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="getFormControlErrors('password')">{{getFormControlErrors('password')}}</mat-error>
        </mat-form-field>
        <div class="password-actions">
            <button class="password-form-submit" color="primary" type="submit" (click)="onSubmit()" [class.button-spinner]="isAuthLoading$ | async" mat-raised-button>
                Submit 
            </button>
            <a routerLink="/auth/login">Remember? Login</a>
        </div>
        
    </form>
</section>