/* You can add global styles to this file, and also import other style files */
html {
    font-size: 62.5%;
}

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

mat-form-field {
    mat-error {
        display: none !important;
    }

    mat-error:first-child {
        display: block !important;
    }
}



.button-spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 10%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.loader {
    position: relative;
    margin: 0 auto;
    top: 40%;
}

.empty-data {
    height: 100%;
    
    &-header {
        text-align: center;
        color: yellow;
        font-family: "Bangers", cursive;
        position: relative;
        top: 30rem;
        font-size: 4rem;

        @media (max-height: 600px) {
            top: 7rem;
        }
    }
}

.ball {
    position: relative;
    left: 45%;
    animation: bounce 1s;
    transform: translateY(0px);
    animation-iteration-count: infinite;
    height: 100px;
    width: 100px;

    @media (max-width: 600px) {
        left: 40%;
    }

    &-shadow {
        width: 100px;
        height: 20px;
        background: radial-gradient(#000f,#fff0 72%);
        position: relative;
        left: 45%;
        top: 22rem;
        border-radius: 694px / 208px;
        animation: shadow 1s;
        animation-iteration-count: infinite;
        @media (max-width: 600px) {
            left: 40%;
        }

        @media (max-height: 600px) {
            top: 5rem;
        }
    }
}

// ANIMATIONS

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes bounce {
	0% {
        top: 9rem;
        transform: rotate(0deg);
		-webkit-animation-timing-function: ease-in;
	}
	40% {}
	50% {
        top: 20rem;
        transform: rotate(80deg);
		-webkit-animation-timing-function: ease-out;
	}
	55% {
        top: 24rem;
		-webkit-animation-timing-function: ease-in;}
	65% {top: 19rem; 
        transform: rotate(120deg);
		-webkit-animation-timing-function: ease-out;}
	95% {
		top: 9rem;	
		-webkit-animation-timing-function: ease-in;
	}
	100% {top: 9rem;
        transform: rotate(360deg);
		-webkit-animation-timing-function: ease-in;
	}
}

@media (max-height: 600px) {
    @keyframes bounce {
        0% {
            top: 2rem;
            transform: rotate(0deg);
            -webkit-animation-timing-function: ease-in;
        }
        40% {}
        50% {
            top: 6rem;
            transform: rotate(80deg);
            -webkit-animation-timing-function: ease-out;
        }
        55% {
            top: 7rem;
            -webkit-animation-timing-function: ease-in;}
        65% {top: 5rem; 
            transform: rotate(120deg);
            -webkit-animation-timing-function: ease-out;}
        95% {
            top: 2rem;	
            -webkit-animation-timing-function: ease-in;
        }
        100% {top: 2rem;
            transform: rotate(360deg);
            -webkit-animation-timing-function: ease-in;
        }
    }
}

@keyframes shadow {
    0% {
        transform: scale(-.9);
        opacity: 0;
	}
    48% {
        transform: scale(-.7);
        opacity: 0.1;
	}
	50% {
        transform: scale(-.7);
        opacity: 0.6;
	}
	55% {
        transform: scale(-0.5);
        opacity: 0.8;
	}
    65% {
        transform: scale(-.7);
        opacity: 0.2;
    }
	95% {
		transform: scale(-.9);
        opacity: 0.1;
	}
	100% {
        transform: scale(-.9);
        opacity: 0;
	}
}