.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12 rem;
    padding: 3 rem;
  }
  
  .words {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .word {
    font-size: small;
    position: relative;
    margin: 3 rem;
  }
  
  .football {
    margin-left: 4rem;
    position: absolute;
    top: 0;
    left : 0;
    animation: jump 6s ease-in-out infinite;
  }
  
  .football img {
    width: 50px;
  }

  .video-button {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(calc(100% / 4), -150px);
  }
  25% {
    transform: translate(calc(200% / 4), 0);
  }
  37.5% {
    transform: translate(calc(300% / 4), -120px);
  }
  50% {
    transform: translate(calc(400% / 4), 0);
  }
  62.5% {
    transform: translate(calc(500% / 4), -90px);
  }
  75% {
    transform: translate(calc(600% / 4), 0);
  }
  87.5% {
    transform: translate(calc(700% / 4), -60px);
  }
  100% {
    transform: translate(calc(800% / 4), 0) scale(0);
  }
}



