<nav-top [links]="filters" [show]="true"></nav-top>
<div class = "tournament-content" *ngIf="loading">
    <mat-spinner class="loader" color="accent"></mat-spinner>
  </div>

<ng-container>
    <div class="tournament-content">
        <div class="card-container">
            <div class="card">  
                <!-- Loop through each tournament in historyItems -->
                <div>
                    <div class="card-header">
                        <h1>{{ historyData.year }}</h1>
                        <hr class="horizontal-line">
                    </div>
                    <div class="history-card-body">
                        <div class="winner-details" @showChampion>
                            <img [src]="historyData.winnerFlag" alt="Flag"  class="flag-image">
                            <h3>{{ historyData.winnerName }}</h3>
                            <a>({{ historyData.winnerCode }})</a>
                        </div>
                        <div class="typing-label">
                            <span>{{ typingText }}</span><span class="blink-caret">|</span>
                        </div>
                        <div class="runner-up-details" @showRunnersUp>
                            <img [src]="historyData.runnerupFlag" alt="Flag"  class="flag-image">
                            <h3>{{ historyData.runnerupName }}</h3>
                            <a>({{ historyData.runnerupCode }})</a>
                        </div>
                    </div>
                    <div class="other-details">
                        <div class="detail">
                            <a>Player of the Tournament:</a><p>{{ historyData.manOftheTournament }}</p>
                        </div>
                        <div class="detail">
                            <a>Highest Goal Scorer:</a><p>{{ historyData.highestGoalScorer }}</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</ng-container>

<ng-template #emptyTpl>
    <div class="empty-data">
        <img class="ball" src="assets/ball.png" alt="">
        <div class="ball-shadow"></div>
        <h1 class="empty-data-header">
            No data found here !
        </h1>
    </div>
</ng-template>